# Logs
logs
*.log
npm-debug.log*
yarn-error.log

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

oclif.manifest.json
/dist
/lib
*-debug.log
*-error.log
/.nyc_output

packages/*/dist
packages/*/tsconfig.tsbuildinfo
