name: Publish to NPM
on:
  push:
    branches:
    - main

jobs:
  publish-packages:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/setup-node@v3
      with:
        node-version: '18.x'
        cache: yarn

    - uses: actions/checkout@v3

    - run: yarn

    - run: npm install -g @jsdevtools/npm-publish

    - name: npm publish
      run: |
        set -eou pipefail
        set -x

        yarn lerna run prepack

        for packageDir in $(ls packages); do
          npm-publish --token ${{ secrets.NPM_TOKEN }} --access public packages/${packageDir}/package.json
        done
