name: publish-image

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
    tags:
      - 'tunnel-server/v*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3

      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/livecycle/preevy/tunnel-server
          tags: |
            type=match,pattern=tunnel-server/v(.*),group=1
            type=ref,event=branch
            type=sha,enable={{is_default_branch}},prefix={{branch}}-
          labels: |
            org.opencontainers.image.title=preevy-tunnel-server
            org.opencontainers.image.description=Supporting proxy and tunneling service for preevy cli
            org.opencontainers.image.vendor=Livecycle
            org.opencontainers.image.source = "https://github.com/livecycle/preevy"
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: packages/tunnel-server/.
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=preview-proxy
          cache-to: type=gha,scope=preview-proxy,mode=max
