name: Run tests
on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches: [main]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: '18.x'
        cache: yarn

    - run: yarn

    - run: yarn build

    - run: yarn test
      timeout-minutes: 3

  run-tunnel-server-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: '18.x'
        cache: yarn

    - run: yarn
      working-directory: tunnel-server

    - run: yarn build
      working-directory: tunnel-server

    - run: yarn test
      working-directory: tunnel-server
      timeout-minutes: 3
